@model SolutionDTO

@{
	ViewData["Title"] = "Solution Details";
}

<h1>Solution Details</h1>
<h4>Solution</h4>
<hr />


<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">
				@Html.DisplayNameFor(model => model.SolutionFile)
			</th>
			<th scope="col">
				@Html.DisplayNameFor(model => model.Notes)
			</th>
			<th scope="col">
				@Html.DisplayNameFor(model => model.EntryDate)
			</th>
			<th scope="col">
				@Html.DisplayNameFor(model => model.IsDeleted)
			</th>
			<th scope="col">
				@Html.DisplayNameFor(model => model.UpdateDate)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr class="table-info">
			<td>
				@Html.DisplayFor(model => model.SolutionFile)
			</td>
			<td>
				@Html.DisplayFor(model => model.Notes)
			</td>
			<td>
				@Html.DisplayFor(model => model.EntryDate)
			</td>
			<td>
				@Html.DisplayFor(model => model.IsDeleted)
			</td>
			<td>
				@Html.DisplayFor(model => model.UpdateDate)
			</td>
		</tr>
	</tbody>

</table>
<div>
	<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
</div>
<a asp-action="Index">Back to List</a>


